img.avatar {
    max-width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sidebar-item a:active, a:focus {
    outline: 0;
    /* border: none; */
    -moz-outline-style: none;
}
.social-icon i {
    padding: 3px;
    opacity: 1;
}
.social-icon i:hover {
    transform: scale(1.3);
}
.footnotes {
    font-size: 80%;
}
td img{
    margin-left: auto;
    margin-right: auto;
}
a.home {
    text-decoration: none;
    font-weight: bold;
}
@media screen and (min-width: 970px) {
    .container {
        margin-left: 100px;
    }
    .masthead-title {
        text-align: left;
    }
    span.sidebar-toggle {
        display: none;
    }
    .sidebar {
        left: 0rem;
        visibility: visible;
    }
    .wrap {
        left: 14rem;
    }
}
/* otherwise using the default */
@media screen and (max-width: 969px) {
    .sidebar {
        left: -14rem;
    }
    .wrap {
        left: 0rem;
    }
}

.proglang {
    font-family: sans-serif, "PT Sans", Helvetica;
}

/* overwrite some css from the themes */
/* overwrite css/lanyon.css */
html {
    /* changed to much easily readable font */
    font-family: Arial, Helvetica, sans-serif;
    /* added to decrease the font size */
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
}
h1 {
    font-size: 145%;
}
h2 {
    font-size: 130%;
}
h3 {
    font-size: 120%;
}
h4, h5, h6 {
    font-size: 110%;
}
.container {
    max-width: 30rem;
}
/* 38 * 16px = 608px */
@media (min-width: 38em) {
    .container {
        max-width: 36rem;
    }
}
@media (min-width: 56em) {
    .container {
        max-width: 42rem;
    }
}
@media (min-width: 30em) {
    .sidebar {
        font-size: 0.875rem;
    }
}
/* overwrite css/poole.css */
abbr {
    text-transform: none;
}
code, pre {
    font-family: Menlo, Monaco, "consolas", monospace;
}
code {
    padding: .15em .15em;
    color: #bf616a;
    background-color: #f9f9f9;
    border-radius: 1px;
    font-size: 98%;
}
pre {
    margin-bottom: 0.8rem;
    padding: 0.8rem;
    font-size: 0.95rem;
    line-height: 1.4;
    background-color: rgb(239, 241, 245);
}
img {
    margin: 0.5rem 0.5rem 0.5rem;
}
/* for table */
/* remove vertical lines */
table, th, td {
    border-left: none;
    border-right: none;
}
