{{ partial "section_head.html" . }}

<div class="page">
  <p>Sorry, the page <code>{{ .Permalink }}</code> could not be found.
    Please leave a message below (e.g., how/from where did you get here) if you
    believe this URL should be valid and does not work as expected.  Thanks.</p>

  <p>Click <a href="/">here</a> to head back home.</p>

</div>

{{ template "_internal/disqus.html" . }}

{{ partial "default_foot.html" . }}
